<section class="card-wide">
  <a href="/api/dashboard/editdeleteblogpost/{{id}}">
    <header class="space-between">
      <span>{{title}}</span>
      <span>Posted by {{user_name}} on {{ format_date post_date }}</span>
    </header>
  </a>
  <section class="margin-text">
    {{contents}}
  </section>
</section>