<section>
    <h1 class="color-light">The Tech Blog</h1>
</section>

{{#if loggedIn}}
  <section class="card-wide">
    <header class="space-between">
      <span>{{blogPost.title}}</span>
      <span>Posted by {{blogPost.user_name}} on {{ format_date blogPost.post_date }}</span>
    </header>
    <section>
      {{blogPost.contents}}
    </section>
  </section>

  <section class="card-wide">
    <header class="height-fixed"></header>
    <section class="inner-card-wide">
      {{!-- <h2>Comment</h2> --}}
      <form class="form" id="comment-form">
        <div class="form-group font-size-normal">
          <label class="margin-text-extra-wide" for="blog-comment">Comment</label>
          <textarea class="form-input" type="text" id="blog-comment" name="blog-comment" rows="6"></textarea>
        </div>
        {{!-- Hidden section - used for storing passed data - Has to be part of the form --}}
        <div class="form-group">
          <button class="btn btn-primary btn-wide" type="submit">Submit</button>
        </div>
        <div class="hidden-passed-data">
          <p id="comm-username" class="form-group">{{activeUser}}</p>
          <p id="comm-blogid" class="form-group">{{blogPost.id}}</p>
        </div>
      </form>
    </section>
  </section>
{{else}}
  <!-- Otherwise, provide a link to login -->
  <a class="color-link margin-text-wide" href="/api/users/login">Click here to login to enter comment.</a>
{{/if}}

{{!-- This sources login.js Javascript folder ./js relative to express.static 
declaration for 'public' in the main server script. --}}
<script src="/js/new-comment.js"></script>