<section>
    <h1 class="color-light">Your Dashboard</h1>
</section>

{{#if loggedIn}}
  <section class="card-wide">
    <header>Edit or Delete Post</header>
    <section class="inner-card-wide">
      <form class="form" id="edit-blog-form">
        <div class="form-group font-size-normal">
          <label class="margin-text-extra-wide" for="blog-title">Title</label>
          <input class="form-input" type="text" id="blog-title" name="blog-title" value="{{blogPost.title}}"></input>
          <label class="margin-text-extra-wide" for="blog-post">Content</label>
          <textarea class="form-input" type="text" id="blog-post" name="blog-post" rows="6">{{blogPost.contents}}</textarea>
          <button class="btn btn-primary btn-wide" value="update" type="submit">Update Post</button>
          <button class="btn btn-primary btn-wide" value="delete" type="submit">Delete</button>
        </div>
        {{!-- Hidden section - used for storing passed data - Has to be part of the form --}}
        <div class="hidden-passed-data">
          <p id="post-usename" class="form-group">{{activeUser}}</p>
          <p id="post-blogid" class="form-group">{{blogPost.id}}</p>
        </div>
      </form>
    </section>
  </section>
{{else}}
  <!-- Otherwise, provide a link to login -->
  <a class="color-link margin-text-wide" href="/api/users/login">Click here to login to edit or delete blog post.</a>
{{/if}}

{{!-- This sources dashboard-blog-post.js Javascript folder. Relative to express.static 
declaration for 'public'. --}}
<script src="/js/update-blog-post.js"></script>